.button-container {
    display: flex;
    justify-content: flex-start;
    padding: 2em;
}

button {
    margin-left: 1em;
    margin-right: 1em;
}

mat-chip-option {
    margin-left: 1em;
    margin-right: 1em;
}

.column-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-left: 3em;
}