<section class="button-container">
    <button mat-raised-button color="primary" (click)="increment()">Increment</button>

    <button mat-raised-button color="primary" (click)="decrement()">Decrement</button>

    <button class="reset" mat-raised-button color="primary" (click)="reset()">Reset</button>
    
    <mat-chip-option class="count" color="accent" selected>Count: {{count()}}</mat-chip-option>
    <mat-chip-option class="double" color="accent" selected>Double: {{double()}}</mat-chip-option>
    <mat-chip-option class="binary-power" color="accent" selected>Binary Power: {{binaryPower()}}</mat-chip-option>
</section>

<hr/>

<section class="column-container">
    <span>
        <strong>Collection exists?</strong>
        @if (collection) {
            Yes
        } @else {
            No
        }
    </span>
    <span>
        <strong>Collection:</strong>
        @for (item of collection; track item) {
            {{item}}
        }
    </span>
</section>

<section class="column-container">
    <button (click)="logEvent($event)">
        Log
    </button>
</section>